{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "*",
        "browserslist",
        "commitlint",
        "editorconfig",
        "gitignore",
        "gitattributes",
        "husky",
        "lintstaged",
        "ng",
        "prettier",
        "readme",
        "stylelint",
        "tslint"
      ]
    ]
  }
}
