<div *ngIf="breakpoints$ | async as breakpoints" class="flex flex-col h-full">
  <div class="flex flex-col">
    <toh-app-bar (contextualOpened)="nav.close()">
      <button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>
      <span *ngIf="!breakpoints['sm']" class="text-xl mx-2">Tour of Heroes</span>
    </toh-app-bar>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
  </div>
  <mat-sidenav-container class="h-full">
    <mat-sidenav
      #nav
      [mode]="breakpoints['sm'] ? 'over' : 'side'"
      [opened]="!breakpoints['sm']"
      [fixedInViewport]="breakpoints['sm']"
      style="min-width: 275px"
    >
      <mat-toolbar *ngIf="breakpoints['sm']" color="primary">
        <span class="text-xl">Tour of Heroes</span>
      </mat-toolbar>
      <ng-content select="toh-shell-nav"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content select="toh-shell-content"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
