$toh-red: (
  50: #fce5e5,
  100: #f8bdbf,
  200: #f39294,
  300: #ee6669,
  400: #ea4549,
  500: #e62429,
  600: #e32024,
  700: #df1b1f,
  800: #db1619,
  900: #d50d0f,
  A100: #ffffff,
  A200: #ffcece,
  A400: #ff9b9b,
  A700: #ff8182,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$toh-gold: (
  50: #f8f5ee,
  100: #eee5d5,
  200: #e3d4b9,
  300: #d7c39c,
  400: #cfb687,
  500: #c6a972,
  600: #c0a26a,
  700: #b9985f,
  800: #b18f55,
  900: #a47e42,
  A100: #fffdf9,
  A200: #ffe8c6,
  A400: #ffd493,
  A700: #ffca7a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$toh-yellow: (
  50: #fff9e0,
  100: #ffefb3,
  200: #ffe580,
  300: #ffdb4d,
  400: #ffd326,
  500: #ffa500,
  600: #ffc600,
  700: #ffbe00,
  800: #ffb800,
  900: #ffac00,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe8bf,
  A700: #ffdea6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
