<table mat-table [dataSource]="model || []" class="w-full">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row" (click)="detail?.emit(row)">
      <img [src]="row?.avatar" [alt]="row?.name" class="inline-block h-10 w-10 mr-6 rounded-full" />
      <span>{{ row?.name }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="alterEgo">
    <th mat-header-cell *matHeaderCellDef>Alter ego</th>
    <td mat-cell *matCellDef="let row" (click)="detail?.emit(row)">{{ row?.alterEgo || '-' }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="w-1/100 whitespace-nowrap">
      <div class="text-right invisible group-hover:visible">
        <button mat-icon-button color="primary" (click)="edit?.next(row)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" (click)="delete?.next(row)"><mat-icon>delete</mat-icon></button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="group cursor-pointer hover:bg-black hover:bg-opacity-5"
  ></tr>
</table>
