// Custom theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import '@angular/material/theming';
@import './theme/colors';
@import './theme/components';

// Include the common styles for Angular Material.
@include mat-core();

// Create the theme object.
// A theme consists of configurations for individual theming systems such as "color" or "typography".
$toh-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($toh-red),
      accent: mat-palette($toh-gold),
      warn: mat-palette($toh-red),
    ),
  )
);

// Include theme styles for core and each component used in the app.
@include mat-core-theme($toh-theme);
@include mat-button-theme($toh-theme);
@include mat-card-theme($toh-theme);
@include mat-divider-theme($toh-theme);
@include mat-icon-theme($toh-theme);
@include toh-form-field-theme($toh-theme);
@include mat-input-theme($toh-theme);
@include mat-list-theme($toh-theme);
@include mat-menu-theme($toh-theme);
@include mat-progress-bar-theme($toh-theme);
@include mat-progress-spinner-theme($toh-theme);
@include mat-sidenav-theme($toh-theme);
@include mat-slider-theme($toh-theme);
@include mat-table-theme($toh-theme);
@include mat-tabs-theme($toh-theme);
@include mat-toolbar-theme($toh-theme);
